<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ asset('img/logo.png') }}" />
    <title>{% block title %}
            {{ page|raw }}
        {% endblock %}
    </title>
    <!-- Charger Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-...">
    <style>
        body {
            background-image: url('https://wallpaperaccess.com/full/16668.jpg');
            background-size: cover;
            background-position: center center;
        }
        .container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        span.required::after {
            content: "*";
            color: red;
        }
        .top-right {
            position: fixed;
            top: 20px;
            right: 20px;
            background-color: white;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            text-align: center;
            line-height: 50px;
            color: black;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            z-index: 999;
        }
    </style>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
<div class="top-right">
    <a href="{{ path('app_main') }}" style="color: inherit">
        <i class="fas fa-home"></i>
    </a>
</div>
<div class="container">
    <div class="col-sm-6">
        <h1 class="mb-4 text-white">Back office</h1>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">Utilisateur ou mot de passe invalide</div>
            {% endif %}
            <div class="input-group mb-3">
                <span class="input-group-text required" id="basic-addon1">
                    Utilisateur
                </span>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text required" id="basic-addon1">
                    Mot de passe
                </span>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <button type="submit" class="btn btn-success">Connexion</button>
        </form>
    </div>
</div>
<!-- Charger Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-..."></script>
{{ encore_entry_script_tags('app') }}
</body>
</html>
